<meta property="og:description"
      content="{% if page.excerpt %}
        {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ site.description }}
      {% endif %}">
{% if page.image %}
<meta content="{{ site.url }}/assets/img/posts/{{ page.image }}" property="og:image">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
{% else %}
<meta content="{{ site.url }}/images/logo.jpg" property="og:image">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
{% endif %}