<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    {% include head.html %}
  {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">
  {% include analytics.html %}
  <script src="{{ site.baseurl }}/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.url }}" />
    {% seo %}
</head>
<body>
{% include header.html %}
  <article>
   <div class="container">

    {{ content }}

   </div>
  </article>
    {% include comments.html %}

  <div class="subscribe-form">

    {% include subscribe_form.html %}

  </div>

  <div class="sharingButtons">
  {% include sharing.html %}
  </div>
  <script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>
  <script id="dsq-count-scr" src="//girlscode.disqus.com/count.js" async></script>

<!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</body>
</html>
